*{
    margin: 0;
    padding: 0;
    
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;

}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
nav{
    box-shadow: 5px 5px 5px red;
   position: sticky;
   top: 0;
   z-index: 2;
 
}
.hero{
    display: flex;
    gap:100px;
    justify-content: center;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 300px;
}
.tag{
    background-color: green;
    color: white;
    font-size: 175%;
    
}
.hero_content h1{
    font-size: 100px;
}
button{
    align-self: flex-start;
    
}
.features{
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;


}
.feature{
display: flex;
gap: 20px;
}
.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1 , 1, 1);
}
.divide{
    border: 2px solid black;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
    align-items: center;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    " I1 I1 I2 I7 "
    "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.grid-image{
    
    border-radius: 10px;
}
.grid-image:hover{
      transition: 0.2s ease-in-out;
      transform: scale(1.05);
}
/* footer  */
.footer_container{
    display: flex;
    gap: 150px;
    background-color: wheat;
    padding: 70px;
    justify-content: space-between;
}
.icon_container{
    display: flex;
    gap: 10px;
    font-size: 32px;
}
.news_letter{
    gap: 100px;
    font-size: 22px;
}